@import "/src/UI/_CommonStyles/colors";
@import "/src/UI/_CommonStyles/mixins";

.favourite-artists.styleless {
  margin-bottom: 5vh;

  display: grid;
  grid-template-columns: 1fr 1fr;

  $border-width: 10px;
  gap: $border-width;

  @include vw(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include vw(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include vw(xl) {
    grid-template-columns: repeat(5, 1fr);
  }

  > li > .fade-in {
    position: relative;
    container-type: inline-size;
    aspect-ratio: 1; // To have the right height even before the images are loaded

    @mixin border-radius {
      border-radius: 5px;
    }

    background-color: $color-placeholder;
    @include border-radius;

    &::after {
      content: "";

      position: absolute;
      top: 6%;
      left: 6%;

      background-image: url("/images/Spotify_Icon_RGB_White.png");
      background-repeat: no-repeat;
      @include img-size(10%);
    }

    > img {
      aspect-ratio: 1;
      object-fit: cover;
      height: 100%; // Otherwise portrait images make the container too tall
      @include border-radius;
    }

    > span {
      position: absolute;
      bottom: 8%;
      left: 8%;
      max-width: 150px;

      color: $color-text-negative;
      font-size: 18px;
      font-weight: 700;
      @include text-shadow;

      @container (min-width: 170px) {
        font-size: 20px;
      }
    }
  }
}
