@import "/src/UI/_CommonStyles/numbers";

.page.registration {
  p.fetching-message {
    margin-bottom: 0.5em;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .wrapper-next-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
  }

  #registration-step-2 {
    &.hidden {
      display: none;
    }

    > form {
      display: flex;
      flex-direction: column;
      gap: 3vh;

      .location-input-and-dropdown {
        position: relative; // Absolutely-positioned result list
      }
    }
  }
}
