@import "../mixins";

:root {
  // TODO --variant-solidBg: #{$color-input-bg}; // stylelint-disable-line
}

.MuiModal-root > .MuiModal-backdrop {
  backdrop-filter: none;
  -webkit-backdrop-filter: none; // stylelint-disable-line property-no-vendor-prefix
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    font-size: $variable-font-size;
  }

  .MuiInput-root {
    font-size: $variable-font-size;
    border-radius: $input-border-radius;
    padding: 0.3em $input-padding-inline;
    background-color: $color-input-bg;

    > .MuiInput-startDecorator {
      color: $color-input-text;
    }
  }

  .MuiFormHelperText-root {
    font-size: $variable-font-size;
  }
}

.MuiTabs-root.MuiTabs-colorNeutral {
  > .MuiTabList-root {
    font-size: $variable-font-size;

    > .MuiTab-root {
      color: $color-body-text;
    }
  }

  > .MuiTabPanel-root {
    background-color: $color-app-bg;
    padding-inline: 0;
  }
}
