@import "../mixins";

:root {
  // TODO --variant-solidBg: #{$color-input-bg}; // stylelint-disable-line
}

.MuiModal-root {
  > .MuiModal-backdrop {
    backdrop-filter: none;
    -webkit-backdrop-filter: none; // stylelint-disable-line property-no-vendor-prefix
  }

  &.invisible-backdrop {
    z-index: $z-index-menu-backdrop;

    > .MuiModal-backdrop {
      background-color: transparent;
    }
  }
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    font-size: $variable-font-size-sm;
  }

  .MuiInput-root {
    font-size: $variable-font-size-sm;
    border-radius: $border-radius-md;
    padding: 0.3em $input-padding;
    background-color: $color-input-bg;
    color: $color-input-text;

    > .MuiInput-startDecorator {
      color: $color-input-text;
    }

    &.offset {
      background-color: $color-input-bg-offset;
      color: $color-input-text-offset;

      > .MuiInput-startDecorator {
        color: $color-input-text-offset;
      }
    }
  }

  .MuiFormHelperText-root {
    font-size: $variable-font-size-sm;
  }
}

.MuiCheckbox-root {
  > .MuiCheckbox-checkbox.Mui-checked {
    background-color: $color-checkbox-bg;
  }
}

.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-variantPlain {
  color: $color-loader;

  $block-size: 0.15em;

  min-block-size: $block-size;

  &::before {
    block-size: $block-size;
  }
}

.MuiModalDialog-root.MuiModalDialog-layoutCenter {
  > .button.close {
    align-self: flex-end;
    margin: -0.75em -0.75em 0 0;

    > svg {
      color: $color-icon-dark;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}
