@import "/src/UI/_CommonStyles/mixins";

.MuiSnackbar-root.app-snackbar {
  /* Unfortunately declaration in _mui.scss is too low specificity
  --Snackbar-inset: 5vh; // stylelint-disable-line */

  $margin: 5vh; // Simpler than using --Snackbar-inset

  &.MuiSnackbar-anchorOriginTopCenter {
    top: $margin;
  }

  &.MuiSnackbar-anchorOriginBottomRight {
    @include vw(md) {
      bottom: $margin;
      right: $margin;
    }
  }

  &.MuiSnackbar-colorNeutral {
    background-color: $color-app-bg;
    color: $color-text;
  }

  font-weight: 400; // MUI sets a value on small res
  font-size: 16px;

  @include vw(md) {
    font-size: 18px;
    gap: 15px;
  }
}
