@import "/src/UI/_CommonStyles/mixins";

.app-snackbar.cookie {
  > div {
    display: flex;
    flex-direction: column;

    @include vw(md) {
      gap: 2em;
      flex-direction: row;
    }

    > span {
      font-weight: 600;
    }

    > div {
      display: flex;
      gap: 1em;
    }
  }
}
