@import "/src/UI/_CommonStyles/mixins";

.app-snackbar.cookie {
  > div {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > span {
      font-weight: 600;
    }

    > div {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
  }
}
