@import "/src/UI/_GlobalStyles/mixins";

.app-snackbar.error {
  span {
    font-weight: 600;
  }

  p {
    font-size: 14px;

    @include vw(md) {
      font-size: 16px;
    }
  }

  > .icon-only {
    color: $color-icon-negative;
  }
}
