@import "/src/UI/_CommonStyles/mixins";

.app-snackbar.error {
  > div {
    flex-grow: 1;

    > span {
      font-weight: 600;
    }

    > p {
      font-size: 14px;
      margin-bottom: 0;

      @include vw(md) {
        font-size: 16px;
      }
    }
  }

  > .icon-only {
    color: $color-icon-light;
  }
}
