@import "/src/UI/_CommonStyles/mixins";

html {
  // Always display the vertical scrollbar
  overflow-y: scroll;
}

body {
  background-color: $color-app-bg;
  color: $color-text;
  font-family: "Source Sans Pro", sans-serif;

  box-sizing: border-box; // Border-box everything by default

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

// To avoid these elements to bleed through the parent
img,
iframe,
embed,
video {
  display: block; // To avoid extra space below the element
  max-width: 100%;
}

// To make sure the footer is always at the bottom of the viewport
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .page {
    flex-grow: 1;
  }
}

main {
  margin-top: 15vmin;
}

.container {
  margin-inline: auto;
  padding-inline: $min-content-side-margin;

  @include vw(md) {
    padding-inline: 0;
    width: 75%;
  }

  @include vw(xl) {
    width: $vw-lg;
  }
}

span.basic-chip {
  display: inline-block;

  padding: 0.3em 0.5em 0.2em;
  border-radius: 0.3em;

  font-size: $variable-font-size-xs;
  color: $color-text-negative;
  background-color: $color-basic-chip-bg;

  &.negative {
    background-color: $color-basic-chip-bg-negative;
  }
}