@import "/src/UI/_GlobalStyles/colors";
@import "/src/UI/_GlobalStyles/numbers";
@import "/src/UI/_GlobalStyles/mixins";

html {
  // Always display the vertical scrollbar
  overflow-y: scroll;
}

body {
  background-color: $color-app-bg;
  color: $color-body-text;
  font-family: "Source Sans Pro", sans-serif;

  box-sizing: border-box; // Border-box everything by default

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

// To avoid these elements to bleed through the parent
img,
iframe,
embed,
video {
  max-width: 100%;
  display: block; // To avoid extra space below the element
}

// To make sure the footer is always at the bottom of the viewport
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .page {
    flex-grow: 1;
  }
}

main {
  margin-top: max(10vh, 40px);
}

.container {
  margin-inline: auto;
  padding: $min-content-side-margin;

  @include vw(md) {
    width: 75%;
  }

  @include vw(lg) {
    width: 66%;
  }

  @include vw(xxl) {
    width: 60%;
  }
}
