@import "/src/UI/_CommonStyles/mixins";

.page.compose {
  .fade-in:not(:last-of-type) {
    margin-bottom: 5vmin;
  }

  .fade-in:last-of-type {
    display: flex;
    justify-content: flex-end;
  }

  .tag-fields {
    display: grid;
    row-gap: 0.5em;

    @include vw(lg) {
      grid-template-columns: 1fr 1fr;
      row-gap: 0;
      column-gap: 1em;
    }

    ul.chips {
      margin-top: 1vmin;
    }
  }
}
