@import "/src/UI/_CommonStyles/mixins";

.page.compose {
  .fade-in:not(:last-of-type) {
    margin-bottom: 5vmin;
  }

  .fade-in.button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .tag-fields {
    display: grid;
    row-gap: 0.5em;

    ul.chips {
      margin-top: 1vmin;
    }

    @include vw(lg) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      row-gap: 0;
      column-gap: 1em;

      ul.chips {
        margin-top: 0;
      }
    }
  }
}
