@import "/src/UI/_CommonStyles/mixins";

.page.preview-post {
  #quill-preview {
    @include quill-editor;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $default-field-gap;

    > button.underlined {
      font-size: $variable-font-size;
    }
  }
}
