@import "/src/UI/_CommonStyles/mixins";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  position: sticky;
  z-index: $z-index-header;
  transition: top #{$animation-duration-xs}s linear;

  background-color: $color-header-bg;
  padding: $header-padding-block $header-padding-inline;

  > nav {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include header-footer-text;

    > a.icon-only > svg {
      color: $color-icon-primary;
    }
  }
}
