@import "/src/UI/_CommonStyles/mixins";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  position: sticky;
  z-index: $z-index-header;
  background-color: $color-header-bg;
  transition: top #{$animation-duration-xs}s linear, background-color #{$animation-duration-md}s ease;

  padding: $header-padding-block $header-padding-inline;

  > a.button.icon-only  {
    flex-grow: 1;
    justify-content: flex-start;
  }

  > a.underlined {
    @include header-footer-text;
  }

  &.dark {
    background-color: $color-header-bg-dark;

    > a.underlined {
      transition: all #{$animation-duration-sm}s ease; // Same duration as in `@mixin underlined`
      color: $color-text-negative;
    }
  }
}
