@import "/src/UI/_CommonStyles/mixins";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  position: sticky;
  top: 0;
  z-index: $z-index-header;

  background-color: $color-app-bg;
  padding: $header-padding-block $header-padding-inline;

  > nav {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include header-footer-text;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }
}
