@import "src/UI/_CommonStyles/mixins";

.app-menu svg {
  margin-top: 2px; // To center icon
}

.app-menu-modal .MuiModalDialog-root {
  background-color: $color-app-bg;
  color: $color-text;

  align-items: center;

  > button.icon-only {
    align-self: flex-end;
  }

  > nav {
    flex-grow: 1;

    display: flex;
    align-items: center;

    > ul {
      display: flex;
      flex-direction: column;
      gap: 5vmin;

      margin-top: -6vmin;

      font-size: 30px; // TODO
      text-align: center;

      @include vw(md) {
        flex-direction: row;
      }
    }
  }
}
