@import "/src/UI/_CommonStyles/mixins";

.app-footer {
  background-color: $color-offset-bg;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;

    padding-block: 15vh;

    @include header-footer-text;

    @include vw(md) {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;

      @include vw(md) {
        align-items: flex-end;
      }
    }

    > span {
      @include vw(md) {
        order: -1;
      }
    }
  }
}
