@import "/src/UI/_GlobalStyles/mixins";

.app-footer.container { // Added `.container` for increased specificity
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding-block: 5vh;

  @include header-footer-text;

  @include vw(md) {
    flex-direction: row;
  }

  > span {
    @include vw(md) {
      order: -1;
    }
  }
}
