@import "/src/UI/_CommonStyles/mixins";

.page {
  > main {
    margin-top: 15vmin;
  }

  &.no-top-margin-on-mobile > main {
    @include vw(sm) {
      margin-top: 0;
    }
  }

  &.simple {
    h1 {
      margin-bottom: 1em;
    }
  }

  .container {
    margin-inline: auto;
    padding-inline: $min-content-side-margin;

    @include vw(md) {
      padding-inline: 0;
      width: 75%;
    }

    @include vw(xl) {
      width: $vw-lg;
    }
  }

  span.basic-chip {
    display: inline-block;

    padding: 0.3em 0.5em 0.2em;
    border-radius: 0.3em;

    font-size: $variable-font-size-xs;
    color: $color-text-negative;
    background-color: $color-basic-chip-bg;

    &.negative {
      background-color: $color-basic-chip-bg-negative;
    }
  }

  p.fetching-message {
    margin-bottom: 0.5em;
  }
}
