@import "/src/UI/_CommonStyles/mixins";

.container {
  margin-inline: auto;
  padding-inline: $min-content-side-margin;

  @include vw(md) {
    padding-inline: 0;
    width: 75%;
  }

  @include vw(xl) {
    width: $vw-lg;
  }
}

.page {
  > main {
    margin-top: 15vmin;
  }

  &.no-top-margin-on-mobile > main {
    @include vw(sm) {
      margin-top: 0;
    }
  }

  &.simple {
    h1 {
      margin-bottom: 1em;
    }

    p {
      font-size: $variable-font-size-md;
      @include justify-text-on-large-screen;
    }
  }

  span.basic-chip {
    display: inline-block;

    padding: 0.3em 0.5em 0.2em;
    border-radius: 0.3em;

    font-size: $variable-font-size-xs;
    color: $color-text-negative;
    background-color: $color-basic-chip-bg;

    &.negative {
      background-color: $color-basic-chip-bg-negative;
    }
  }

  p.fetching-message {
    margin-bottom: 0.5em;
  }

  section.bordered {
    border: 1px solid $color-border;
    border-radius: $border-radius-lg;

    font-size: $variable-font-size-sm;
    padding: 1em;
  }
}
