@import "/src/UI/_CommonStyles/mixins";

ul.styleless.select {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: $z-index-select-list;

  margin-top: 0.3em;

  border-radius: $input-border-radius;
  background-color: $color-list-item-bg;
  @include joy-dropdown-shadow;

  font-size: $variable-font-size-sm;
  line-height: max(2em, 40px);

  &.closed {
    display: none;
  }

  > li {
    transition: background-color #{$animation-duration-sm}s ease;

    padding-inline: $input-padding;

    &:not(.loading) { // Because `&:not(:has(> .circular-loader))` isn't supported on Firefox
      cursor: pointer;

      &:hover {
        background-color: $color-list-item-bg-hover;
      }
    }
  }
}
