@import "/src/UI/_CommonStyles/numbers";

.page.register {
  section {
    &:not(:first-of-type) {
      padding-top: 1em;
    }

    &.hidden {
      display: none;
    }

    h2 {
      margin-bottom: 0.5em;
    }

    > .chips {
      margin-bottom: 5vmin;
    }

    > form {
      display: flex;
      flex-direction: column;
      gap: 3vmin;
    }

    .wrapper-show-all-button,
    .wrapper-next-button {
      display: flex;
      justify-content: flex-end;
      margin-top: 2vmin;
    }

    .wrapper-show-all-button {
      margin-block: 1vmin 5vmin;
      font-size: $variable-font-size;
    }
  }
}
