@import "/src/UI/_CommonStyles/numbers";

.page.register {
  section {
    &:not(:first-of-type) {
      padding-top: 1em;
    }

    &.hidden {
      display: none;
    }

    h2 {
      margin-bottom: 0.5em;
    }

    .tip-and-show-all {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: $variable-font-size-sm;
      margin-block: 1vmin 5vmin;
    }

    .wrapper-next-button {
      display: flex;
      justify-content: flex-end;
      margin-top: 5vmin;
    }

    > form {
      display: flex;
      flex-direction: column;
      gap: $default-field-gap;

      > .wrapper-next-button {
        margin-top: 2vmin;
      }
    }
  }
}
