@import "/src/UI/_CommonStyles/mixins";

.page.my-posts > .container {
  > .fade-in {
    display: flex;
    justify-content: space-between;

    align-items: center;

    @include vw(md) {
      align-items: flex-end
    }
  }
}
