@import "./colors";
@import "./numbers";
@import "./mixins";

$min-button-size: 40px;

button:not([role="tab"]),
a.button:not([role="tab"]) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: $color-btn-text;
  padding: 0;
  border: 0;

  min-height: $min-button-size;
  min-width: $min-button-size;

  transition: opacity #{$animation-duration-sm}s ease;

  &:hover {
    opacity: 0.9;
  }
}

button:not([role="tab"], .icon-only),
a.button:not([role="tab"], .icon-only) {
  @include to-right-red-gradient;
  background-size: 0 100%;
  background-position: left center;
  background-repeat: no-repeat;

  transition: all #{$animation-duration-sm}s ease; // background-size color opacity

  font-size: $variable-font-size;
  font-weight: 400;
  color: $color-btn-text-pre-filled;

  padding-inline: 1em;
  border-radius: 0.1em;

  &.filling {
    background-size: 100% 100%;
    color: $color-btn-text;
  }

  &.transparent-bordered {
    color: $color-btn-text;
    background-image: none;
    background-color: transparent;
    border: 0.1em solid $color-btn-border;

    &:hover {
      @include to-right-red-gradient;
      background-size: 100% 100%;
      border-color: transparent;
    }
  }

  &.rounded {
    border-radius: 1.2em;
  }

  &.spotify {
    color: $color-btn-text;
    background: $color-btn-bg-spotify;
  }

  > span {
    padding-block: 0.5em 0.6em;
  }

  &.fixed-height {
    font-size: 18px;
    border-width: 2px;

    > span {
      padding-block: 0;
    }
  }


  // Left icon

  > svg,
  > img {
    @include img-size(1.5em);
    margin-right: 0.5em;
  }


  // Loader

  &:has(> .circular-loader) {
    position: relative;

    > .circular-loader {
      position: absolute;

      > .MuiCircularProgress-root .MuiCircularProgress-progress {
        stroke: $color-btn-text;
      }
    }

    > span {
      visibility: hidden;
    }
  }

  &[disabled] {
    cursor: default;
    opacity: 0.3;
  }
}

a.button {
  text-decoration: none;
}

button.icon-only,
a.button.icon-only {
  border: none;
  outline: none;
  background: none;
}
