@use "sass:color";

// Base colors, only used in this file
$color-black: rgb(0 0 0); // #000
$color-transparent-black: color.adjust($color-black, $alpha: -1);
$color-white: rgb(255 255 255); // #fff
$color-greyscale-1: rgb(46 46 46); // #25272E
$color-greyscale-5: rgb(147 147 147); // #939393
$color-greyscale-7: rgb(193 193 193); // #C1C1C1
$color-greyscale-8: rgb(219 219 219); // #DBDBDB
$color-greyscale-9: rgb(242 242 242); // #f2f2f2
$color-greyscale-1-opacity-50pc: color.adjust($color-greyscale-1, $alpha: -0.5);
$color-pink: rgb(184 4 126); // #B8047E
$color-pink-2: rgb(216 0 214); // #D800D6
$color-purple: rgb(125 11 144); // #7D0B90
$color-purple-2: rgb(137 9 237); // #8909ED
$color-blue-neon: rgb(136 226 248); // #88E2F8
$color-red: rgb(192 24 18); // #C01812
$color-orange: rgb(205 64 30); // #CD401E
$color-red-orange: rgb(199 49 25); // #C73119
$color-green-spotify: rgb(30 215 96); // #1ed760

// Functional colors, to use in the rest of the app
$color-app-bg: $color-greyscale-9;
$color-app-alt-bg-1: $color-pink-2;
$color-app-alt-bg-2: $color-purple-2;
$color-body-text: $color-greyscale-1;
$color-text-offset: $color-greyscale-5;
$color-text-negative: $color-white;
$color-btn-text: $color-white;
$color-btn-text-pre-filled: $color-greyscale-1;
$color-btn-bg-primary-gradient-start: $color-red;
$color-btn-bg-primary-gradient-end: $color-orange;
$color-btn-bg-spotify: $color-green-spotify;
$color-loader: $color-red-orange;
$color-link: $color-greyscale-1;
$color-icon: $color-greyscale-1;
$color-icon-negative: $color-white;
$color-input-bg: $color-greyscale-5;
$color-input-text: $color-white;
$color-drop-shadow: $color-greyscale-1-opacity-50pc;
$color-text-shadow: $color-greyscale-1;
$color-placeholder: $color-greyscale-8;
$color-helper-text-error: $color-red;
