@use "sass:color";

// Base colors, only used in this file
$color-black: rgb(0 0 0); // #000
$color-black-transparent: color.adjust($color-black, $alpha: -1);
$color-black-opacity-50pc: color.adjust($color-black, $alpha: -0.5);
$color-black-opacity-15pc: color.adjust($color-black, $alpha: -0.85);
$color-white: rgb(255 255 255); // #fff
$color-white-opacity-50pc: color.adjust($color-white, $alpha: -0.5);
$color-white-opacity-70pc: color.adjust($color-white, $alpha: -0.3);
$color-greyscale-2: rgb(32 32 32); // #202020
$color-greyscale-3: rgb(64 64 64); // #404040
$color-greyscale-4: rgb(96 96 96); // #606060
$color-greyscale-5: rgb(128 128 128); // #808080
$color-greyscale-6: rgb(165 165 165); // #A5A5A5
$color-greyscale-7: rgb(202 202 202); // #CACACA
$color-greyscale-8: rgb(238 238 238); // #EEEEEE
$color-greyscale-9: rgb(247 247 247); // #F7F7F7
$color-greyscale-3-opacity-50pc: color.adjust($color-greyscale-3, $alpha: -0.5);

/* $color-primary: rgb(199 49 25); // #C73119
$color-primary-dark: rgb(192 24 18); // #C01812
$color-primary-light: rgb(205 64 30); // #CD401E */

$color-primary: rgb(194 31 88); // #C21F58
$color-primary-dark: rgb(168 13 67); // #A80D43
$color-primary-light: rgb(219 48 108); // #DB306C
$color-green: rgb(31 193 31); // #1FC11F
$color-green-spotify: rgb(30 215 96); // #1ed760

// Functional colors, to use in the rest of the app
$color-app-bg: $color-white;
$color-btn-border: $color-primary;
$color-btn-bg-primary-gradient-start: $color-primary-dark;
$color-btn-bg-primary-gradient-end: $color-primary-light;
$color-btn-bg-icon-only-dark-hover: $color-black-opacity-50pc;
$color-btn-bg-icon-only-light-hover: $color-white-opacity-50pc;
$color-btn-bg-spotify: $color-green-spotify;
$color-btn-text: $color-white;
$color-btn-text-pre-filled: $color-primary;
$color-checkbox-bg: $color-primary;
$color-chip-bg: $color-greyscale-8;
$color-darkened-image-filter: $color-black-opacity-50pc;
$color-drop-shadow: $color-greyscale-3-opacity-50pc;
$color-header-bg: $color-white-opacity-70pc;
$color-header-bg-dark: $color-black-opacity-15pc;
$color-icon-dark: $color-greyscale-3;
$color-icon-light: $color-white;
$color-icon-primary: $color-primary;
$color-icon-success: $color-green;
$color-input-bg: $color-greyscale-8;
$color-input-bg-offset: $color-greyscale-2;
$color-input-text: $color-greyscale-3;
$color-input-text-offset: $color-white;
$color-input-placeholder: $color-greyscale-6;
$color-link: $color-greyscale-3;
$color-list-item-bg: $color-input-bg;
$color-list-item-bg-hover: $color-greyscale-9;
$color-loader: $color-primary;
$color-offset-bg: $color-greyscale-9;
$color-text: $color-greyscale-3;
$color-text-photo-caption: $color-greyscale-4;
$color-text-negative: $color-white;
$color-text-offset: $color-greyscale-5;
$color-text-shadow: $color-greyscale-3;
$color-tooltip-bg: $color-greyscale-2;
$color-placeholder: $color-greyscale-8;
