@import "./colors";
@import "./numbers";
@import "./mixins";

a:not(.button) {
  color: $color-link;
  text-decoration: none;

  &.underline {
    @include underlined
  }

  /* &.text-color {
    transition: color #{$animation-duration-sm}s ease;

    &:hover {
      color: $color-link-hover;
    }
  } */
}
