@import "/src/UI/_CommonStyles/mixins";

article {
  h1 {
    font-size: variable-font(20, 40);
    font-weight: 700;
    margin-bottom: 1em;
  }

  > .metadata,
  > .hero,
  > .content {
    margin-bottom: 3vmax;
  }

  > .metadata {
    font-size: variable-font(16, 20);
    color: $color-text-offset;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .likes-comments-share {
      &.desktop-only {
        display: none;
      }

      @include vw(md) {
        &.mobile-only {
          display: none;
        }

        &.desktop-only {
          display: block;
        }
      }

      &.mobile-only {
        justify-content: flex-start;
        margin-left: -0.6em;
      }
    }
  }

  > .content > div {
    @include quill-editor;
  }
}
