@import "./colors";
@import "./numbers";
@import "./mixins";

button,
a.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: $color-btn-text;
  padding: 0;

  min-height: 40px;
  min-width: 40px;
}

button:not(.icon-only),
a.button:not(.icon-only) {
  font-weight: 600;

  @include to-right-red-gradient;
  background-size: 0 100%;
  background-position: left center;
  background-repeat: no-repeat;

  transition: background-size #{$animation-duration-short}s ease;

  &.filling {
    background-size: 100% 100%;
  }

  &.skewed {
    $skew: -10deg;
    transform: skewX($skew);

    > * {
      transform: skewX(-$skew);
    }
  }


  // Size

  padding-inline: 15px;

  > span {
    font-size: 20px;
    padding-bottom: 2px;
  }

  &.lg {
    height: 60px;

    padding-inline: 25px;

    > span {
      font-size: 30px;
      padding-bottom: 6px;
    }
  }
}

a.button {
  text-decoration: none;
}

button.icon-only,
a.button.icon-only {
  border: none;
  outline: none;
  background: none;

  svg {
    /* @include svg-size(40px);

    transition: all #{$animation-duration-short}s ease-in-out; // Smooth transition for transform
    transform: scale(1); // Default scale */
  }

  /* &:hover svg {
    transform: scale(1.2); // Slightly larger scale on hover
  } */
}
