@import "./colors";
@import "./numbers";
@import "./mixins";

$min-button-size: 40px;

button,
a.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: $color-btn-text;
  padding: 0;

  min-height: $min-button-size;
  min-width: $min-button-size;
}

button:not(.icon-only),
a.button:not(.icon-only) {
  font-weight: 600;

  @include to-right-red-gradient;
  background-size: 0 100%;
  background-position: left center;
  background-repeat: no-repeat;

  transition: background-size #{$animation-duration-short}s ease;

  &.filling {
    background-size: 100% 100%;
  }

  &.skewed {
    $skew: -10deg;
    transform: skewX($skew);

    > * {
      transform: skewX(-$skew);
    }
  }

  > svg,
  > img {
    @include svg-size(24px);
    margin-right: 10px;
  }


  // Size

  padding-inline: 15px;

  &.rounded {
    border-radius: $min-button-size / 2;
  }

  > span { // stylelint-disable-line no-duplicate-selectors
    font-size: 20px;
    padding-bottom: 3px;
  }

  &.lg {
    $button-size-lg: 60px;
    height: $button-size-lg;

    padding-inline: 25px;

    &.rounded {
      border-radius: $button-size-lg / 2;
    }

    > span {
      font-size: 30px;
    }
  }

  &.spotify {
    background: $color-btn-bg-spotify;
  }
}

a.button {
  text-decoration: none;
}

button.icon-only,
a.button.icon-only {
  border: none;
  outline: none;
  background: none;

  svg {
    /* @include svg-size(40px);

    transition: all #{$animation-duration-short}s ease-in-out; // Smooth transition for transform
    transform: scale(1); // Default scale */
  }

  /* &:hover svg {
    transform: scale(1.2); // Slightly larger scale on hover
  } */
}
