@import "colors";
@import "numbers";

:export {
  vwMd: $vw-md;
  vwLg: $vw-lg;
  vwXl: $vw-xl;
  vwXxl: $vw-xxl;

  animationDurationShort: $animation-duration-short;
  animationDurationMedium: $animation-duration-medium;

  colorIcon: $color-icon;
}
