@import "colors";
@import "numbers";

:export {
  animationDurationShort: $animation-duration-short;
  animationDurationMedium: $animation-duration-medium;

  colorTransparentBlack: $color-transparent-black;
  colorAppBg: $color-app-bg;
  colorIcon: $color-icon;
}
