@import "./colors";
@import "./numbers";

a:not(.button) {
  color: $color-link;

  position: relative; // Absolutely-positioned ::after
  padding-block: 1px;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $color-link-underline;
    transition: width #{$animation-duration-short}s ease;
  }

  &.underline-appears {
    &::after {
      left: 0;
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &.underline-disappears {
    &::after {
      right: 0;
      width: 100%;
    }

    &:hover::after {
      width: 0;
    }
  }
}
