@import "./colors";
@import "./numbers";

@mixin svg-size($size) {
  width: $size;
  height: $size;
  background-size: $size $size;
}

@mixin vw($size) {
  @if $size == xxl {
    @media (min-width: #{$vw-xxl}) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: #{$vw-xl}) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: #{$vw-lg}) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: #{$vw-md}) {
      @content;
    }
  } @else {
    @media (min-width: #{$vw-sm}) {
      @content;
    }
  }
}

@mixin drop-shadow {
  box-shadow: 0 2px 8px $color-drop-shadow; // offset-x, offset-y, blur-radius, color
}

@mixin to-right-red-gradient {
  background-image: linear-gradient(to right, $color-btn-bg-primary-gradient-start, $color-btn-bg-primary-gradient-end);
}
