@import "/src/UI/_GlobalStyles/mixins";

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: max(28px, 5vw);
}

h2 {
  font-size: max(24px, 4vw);
}

p {
  font-size: max(18px, 1.8vw);
  line-height: 1.25em;
  margin-bottom: 1em;
}
