@import "/src/UI/_GlobalStyles/mixins";

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: max(5vw, 28px);
}

h2 {
  font-size: max(4vw, 24px);
}

p,
span {
  &.offset {
    opacity: 0.7;
  }
}

p:not(:last-child) {
  margin-bottom: 2em;
}

.container p {
  font-size: max(1.8vw, 18px);
  line-height: 1.4em;
}
