@import "/src/UI/_GlobalStyles/colors";
@import "/src/UI/_GlobalStyles/mixins";

#hero {
  overflow-x: hidden; // To hide scrollbar of heading outside the viewport
  background-color: $color-black; // TODO

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: clamp(450px, 50vw, 800px);

  > h1 {
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: center;
    font-size: clamp(40px, 8vw, 140px);
    margin-top: max(15vw, 150px);

    @include vw(xl) {
      text-align: right;
      width: 75%;
    }

    @include vw(xxl) {
      width: 65%;
    }

    > span {
      display: block;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @include vw(md) {
      justify-content: flex-end;
      margin: 0 70px 70px 0;
    }

    @include vw(lg) {
      margin: 0 100px 90px 0;
    }

    .button img {
      @include svg-size(40px);
      margin-right: 15px;
    }
  }
}
