@import "/src/UI/_CommonStyles/colors";

.page.index {
  > section {
    &:not(#hero) {
      padding-block: 10vh;
    }

    &:nth-of-type(even) {
      background-color: $color-offset-bg;
    }

    h2 {
      margin-bottom: 0.5em;
    }
  }
}
