@import "/src/UI/_GlobalStyles/colors";
@import "/src/UI/_GlobalStyles/mixins";

.page.index {
  margin-top: 0;

  > section {
    h2 {
      margin-bottom: 30px;
    }

    &:not(:first-child) {
      padding-top: 50px;
    }

    &:nth-child(2) {
      background-color: $color-app-alt-bg-1;
    }

    &:nth-child(3) {
      background-color: $color-app-alt-bg-2;
    }
  }
}
